{% extends "base.html" %}
{% load static %}
{% load django_bootstrap5 %}


{% block title %}
    Expense List
{% endblock %}



{% block content %}
    <h1 class="relevant">
        Expense List
    </h1>

    <form class="row row-cols-lg-auto g-3 align-items-center mb-2">
        {% bootstrap_form view.form layout='inline' %}
        {% bootstrap_button "Search" %}
    </form>

    <table class="table table-hover table-striped">
        <tr>
            <th>#</th>
            <th>Amount</th>
            <th>Category</th>
            <th>Title</th>
            <th>Date</th>
        </tr>
        {% for object in object_list %}
            <tr>
                <td>
                    <a href="{{ object.get_absolute_url }}">#{{ object.id }}</a>
                </td>
                <td>
                    ${{ object.amount }}
                    {{ object.is_expensive|yesno:"!,-" }}
                </td>
                <td>
                    {{ object.category }}
                </td>
                <td class="relevant bigger">
                    {{ object.title }} ({{ object.user }})
                </td>
                <td>
                    {{ object.date }}
                </td>
            </tr>
        {% endfor %}
    </table>

    {% bootstrap_pagination page_obj %}
{% endblock %}
