{% extends "base.html" %}
{% load static %}


{% block title %}
    Expense: {{ object }}
{% endblock %}



{% block content %}

    <div class="float-end">

        <a class="btn btn-primary"
           href="{% url 'expenses:update' object.id %}">Edit</a>
        <a class="btn btn-danger"
           href="{% url 'expenses:delete' object.id %}">Delete</a>

    </div>

    <h1>
        [#{{ object.id }}] {{ object.title }} {{ object.user }}
    </h1>


    <p>
        Amount: {{ object.amount }}
    </p>

    {{ object.description|linebreaks }}

    <hr/>

    <a href="{% url "expenses:list" %}">Back to all expenses</a>
{% endblock %}
