<h1>
    Expense List
</h1>

<form>
    <input type="search" name="q" value="{{ q }}"/>
    <label>
        <input type="checkbox" name="toppings" value="1">
        Cream
    </label>
    <label>
        <input type="checkbox" name="toppings" value="2">
        Candy
    </label>
    <label>
        <input type="checkbox" name="toppings" value="3">
        Sirup
    </label>
    <button>Search</button>
</form>

<table border="1">
    <tr>
        <th>#</th>
        <th>Amount</th>
        <th>Title</th>
        <th>Date</th>
    </tr>
    {% for object in object_list %}
        <tr>
            <td>
                <a href="{{ object.get_absolute_url }}">#{{ object.id }}</a>
            </td>
            <td>
                ${{ object.amount }}
                {{ object.is_expensive|yesno:"!,-" }}
            </td>
            <td>
                {{ object.title }}
            </td>
            <td>
                {{ object.date }}
            </td>
        </tr>
    {% endfor %}

</table>


